rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // WARNING: These rules are insecure and allow anyone to read and write files.
    // This is a temporary measure to bypass upload issues.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
